# Ignore virtual environment
venv/

# Ignore compiled Python files
*.pyc

# Ignore IDE or editor specific files
.vscode/
.idea/
*.code-workspace

# Ignore any sensitive or local configuration files
config.ini
